/* -------------------------------- */
/*          Fonts Section           */
/* -------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/*   font-family: 'Poppins', sans-serif;   */

@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500;700&display=swap");
/*     font-family: 'Baloo Bhai 2', cursive;     */

/* ------------------------------------- */
/*           Common CSS Section          */
/* ------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}

.main-section {
  margin-top: 100px;
  margin-bottom: 100px;
}

/* --------------------------------------------- */
/*                 Header Section                */
/* --------------------------------------------- */
.home {
  display: flex;
  justify-content: space-between;
  max-width: 1620px;
  margin: 0 auto;
  padding: 0 50px;
  margin-top: 20px;
  align-items: flex-start;
}
.site-title {
  display: flex;
  align-items: center;
  color: #3a3a3a;
  font-size: 24px;
}
.site-title img {
  height: 45px;
  width: 45px;
  margin-right: 3px;
}
.navigation-section {
  display: flex;
  justify-content: center;
}
.navbar ul {
  display: flex;
}
.navbar li {
  display: flex;
  font-weight: 700;
  margin-right: 20px;
}
.navbar li a {
  text-decoration: none;
  font-size: 18px;
  color: #3a3a3a;
  padding: 15px;
}
.shopping-info {
  display: flex;
  align-items: center;
}
#search {
  width: 24px;
  height: 24px;
  margin-right: 30px;
}
#shopping-cart {
  width: 31px;
  height: 31px;
}

/* ------------------------------------------------- */
/*                     Home Page                     */
/* ------------------------------------------------- */

.home-page {
  margin-bottom: 120px;
}
.container {
  max-width: 1620px;
  height: calc(100vh - 280px);
  margin: 0 auto;
  display: flex;
}
.left-section {
  margin-top: 120px;
  color: #3a3a3a;
  padding: 0 40px 0 0;
}
.left-section h1 {
  font-size: 55px;
  margin-bottom: 30px;
  line-height: 55px;
}
.left-section p {
  font-weight: 600;
  padding: 0 250px 0 0;
  margin-bottom: 40px;
}
.left-section a {
  background-color: #d31c1c;
  /* #E02C6D */
  padding: 8px 25px;
  border-radius: 50px;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
}
.right-section {
  margin-right: 100px;
  padding-left: 80px;
}
.right-section:hover #drone-img {
  transform: translate(80px, -200px);
}


#drone-img {
  height: 280px;
  width: 450px;
  position: relative;
  left: 15px;
  top: -310px;
  transition: transform 2s ease-in;
}

.support {
  display: flex;
  justify-content: space-evenly;
  max-width: 1420px;
  margin: 0 auto;
  padding: 20px 50px;
  border: 2px solid #f3f0f0;
  border-left-color: white;
  border-right-color: white;
  border-radius: 6px;
}

/* ------------------------------------------------- */
/*                 Products Section                  */
/* ------------------------------------------------- */

.products-section {
  max-width: 1420px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.products-section h2 {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 60px;
}
.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.product {
  padding: 20px;
  width: 70%;
  margin-bottom: 20px;
  margin-left: 40px;
  box-shadow: 0.1px 0.1px 60px rgb(236, 234, 234);
  border-radius: 5px;
}
.product h2 {
  color: #18191f;
  font-size: 28px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.product h3 {
  font-weight: 600;
}
.rating-section {
  margin-top: 5px;
  display: flex;
  align-items: center;
}
.ratings {
  color: #fb8200;
  font-size: 12px;
  margin-right: 10px;
}
.rating-section span {
  font-size: 14px;
  color: #5e6366;
  font-weight: 600;
}

.see-more-option {
  text-align: right;
  max-width: 1598px;
  margin-top: 15px;
}
.see-more-option a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: #d31c1c;
}

/* ------------------------------------------------- */
/*                   Policy Section                  */
/* ------------------------------------------------- */

.policy-section {
  background-color: black;
  color: white;
  height: 110px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
}

.policy-bar {
  display: flex;
}

.policy {
  display: flex;
  align-items: center;
  margin-right: 150px;
}

.policy img {
  width: 80px;
  height: 70px;
}
.policy > img {
  margin-right: 10px;
}
.policy p {
  font-size: 14px;
}

.payment img {
  width: 40px;
  height: 40px;
}

/* ------------------------------------------------- */
/*                    Link Section                   */
/* ------------------------------------------------- */

.link-section {
  width: 90%;
  margin: 0 auto;
}

.link-bar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.links {
  width: 80%;
}
.links h3 {
  margin-bottom: 15px;
  font-weight: 600;
  padding: 10px;
  border-bottom: 1px solid gainsboro;
}
.find-us {
  display: ;
}
.find-section-title {
  font-size: 16px;
  margin-bottom: 15px;
}
.find-section-title img {
  height: 35px;
  width: 35px;
}
.find-us-info {
  line-height: 30px;
  font-size: 15px;
}
.app-link {
  display: flex;
  margin-top: 20px;
}
.app-link img {
  height: 70px;
  width: 150px;
}

.delivery-partners {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.partners img {
  height: 60px;
  width: 60px;
  margin-right: 15px;
  margin-left: 15px;
}

/* ------------------------------------------------- */
/*                    Footer Section                 */
/* ------------------------------------------------- */

.footer-section {
  background-color: #0a0826;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.footer-section h1 {
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 10px;
}

.copyright-text {
  font-size: 14px;
}
.social-media {
  font-size: 30px;
  margin-top: 10px;
}
.social-media span a {
  margin-right: 20px;
  color: #fff;
}

/* ------------------------------------------------- */
/*                 Responsive Section                */
/* ------------------------------------------------- */

@media (max-width:1253px){
  .home-page {
    margin-bottom: 60px;
  }
  .left-section h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .left-section p {
    padding: 0 100px 0 0;
    margin-top: 20px;
  }
  .support{
    padding-top: 0 ;
    border: none;
  }
  .support img{
   height: ;
   width: 60px;
  }
  .product img{
    width: 250px;
  }
  .policy{
    padding: 0 50px;
    margin-right: 0;
  }
}




@media (max-width:1547px){
  .container{
    margin-bottom: 50px;
  }
  
  .left-section {
    margin-left: 50px;
  }

  .left-section h1 {
    font-size: 45px;
    line-height: 35px; 
  }
  .see-more-option{
    width: 1420px;
  }
  .policy{
    margin-left: 60px;
  }
  .policy h3{
    font-size: 15px;
  }
  .policy p {
    font-size: 12px;
  }
  .payment img {
    width: 30px;
    height: 25px;
  }
}