/* -------------------------------- */
/*          Fonts Section           */
/* -------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/*   font-family: 'Poppins', sans-serif;   */

@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500;700&display=swap");
/*     font-family: 'Baloo Bhai 2', cursive;     */

/* ------------------------------------- */
/*           Common CSS Section          */
/* ------------------------------------- */

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}

.main-section {
    margin-top: 100px;
    margin-bottom: 100px;
  }

/* --------------------------------------------- */
/*                 Header Section                */
/* --------------------------------------------- */
.home {
  display: flex;
  justify-content: space-between;
  max-width: 1620px;
  margin: 0 auto;
  padding: 0 50px;
  margin-top: 20px;
  align-items: flex-start;
}
.site-title {
  display: flex;
  align-items: center;
  color: #3a3a3a;
  font-size: 24px;
}
.site-title img {
  height: 45px;
  width: 45px;
  margin-right: 3px;
}
.navigation-section {
  display: flex;
  justify-content: center;
}
.navbar ul {
  display: flex;
}
.navbar li {
  display: flex;
  font-weight: 700;
  margin-right: 20px;
}
.navbar li a {
  text-decoration: none;
  font-size: 20px;
  color: #3a3a3a;
  padding: 15px;
}
.shopping-info {
  display: flex;
  align-items: center;
}
#search {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
#shopping-cart {
  width: 36px;
  height: 36px;
}

/* ------------------------------------------------- */
/*                     Home Page                     */
/* ------------------------------------------------- */

.home-page{
    margin-bottom: 120px;
}
.container {
  max-width: 1620px;
  height: calc(100vh - 280px);
  margin: 0 auto;
  display: flex;
}
.left-section {
  margin-top: 120px;
  color: #3a3a3a;
  padding: 0 50px 0 0;
}
.left-section h1 {
  font-size: 55px;
  margin-bottom: 30px;
  line-height: 55px;
}
.left-section p {
  font-weight: 600;
  padding: 0 270px 0 0;
  margin-bottom: 40px;
}
.left-section a {
  background-color: #c00707 ;
  /* #E02C6D */
  padding: 8px 25px;
  border-radius: 50px;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
}
.right-section {
}

#background-img {
}

#drone-img {
  height: 310px;
  width: 460px;
  position: relative;
  left: 13px;
  top: -350px;
}

.support{
    display: flex;
    justify-content: space-evenly;
    max-width: 1420px;
  margin: 0 auto;
  padding: 20px 50px;
  border: 2px solid #f3f0f0;
  border-left-color: white;
  border-right-color: white;
  border-radius: 6px;
}

/* ------------------------------------------------- */
/*                 Products Section                  */
/* ------------------------------------------------- */

.products-section{
    max-width: 1620px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.products-section h2{
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 60px;
}
.products{
display: grid;
grid-template-columns: repeat(3, 1fr);
}
.product{
padding: 20px;
width: 70%;
margin-bottom: 30px;
box-shadow: .1px .1px 60px rgb(236, 234, 234);
}
.product h2{
color: #18191F;
font-size: 28px;
margin-top: 8px;
margin-bottom: 8px;
}
.product h3{
font-weight: 600;
}
.rating-section{
    margin-top: 5px;
    display: flex;
    align-items: center
    
}
.ratings{
    color: #FB8200;
    font-size: 12px;
    margin-right: 10px;
    
}
.rating-section span{
    font-size: 14px;
    color: #5E6366;
    font-weight: 600;
}

.see-more-option{
    text-align: right;
    max-width: 1570px;
    margin-top: 15px;

}
.see-more-option a{
text-decoration: none;
font-size: 20px;
font-weight: 600;
color: #c00707;
}

/* ------------------------------------------------- */
/*                   Policy Section                  */
/* ------------------------------------------------- */

.policy-section{
  background-color: black;
  color: white;
  height: 110px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.policy-bar{
  display: flex;
  
}

.policy{
  display: flex;
  align-items: center;
  margin-right: 150px;
}

.policy img{
  width: 80px;
height: 70px;
}
.policy>img{
margin-right: 10px;
}
.policy p{
  font-size: 14px;
}

.payment img{
  width: 40px;
height: 40px;
}

/* ------------------------------------------------- */
/*                    Section                  */
/* ------------------------------------------------- */