/* -------------------------------- */
/*          Fonts Section           */
/* -------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/*   font-family: 'Poppins', sans-serif;   */

@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500;700&display=swap");
/*     font-family: 'Baloo Bhai 2', cursive;     */

@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
/* font-family: 'DM Serif Display', serif; */

/* ------------------------------------- */
/*           Common CSS Section          */
/* ------------------------------------- */

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 30px;
}

/* --------------------------------------------- */
/*                 Header Section                */
/* --------------------------------------------- */

#home {
  padding: 20px;
}
nav {
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
    flex-direction: column;
}
#logo img {
  width: 250px;
}
.navigation {
  display: flex;
}
.navigation li {
  list-style: none;
  margin-right: 40px;
  font-size: 17px;
  font-weight: 700;
}
.navigation li:last-child{
  margin-right: 0 !important;
}
.navigation li a {
  color: #000;
  text-decoration: none;
}

/* ------------------------------------------------- */
/*                   Main Section                    */
/* ------------------------------------------------- */

.home-page {
  height: calc(100vh - 250px);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  min-height: 600px;
  justify-content: center;
}
.home-page-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-top: 100px; */
}
@media(max-width: 991px) {
  .home-page-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
}
.home-page-left h1 {
  font-size: 70px;
  color: #ca1414;
  font-family: "DM Serif Display", serif;
  font-weight: 700;
}
.home-page-left h2 {
  font-size: 40px;
}
.home-page-left p {
  font-size: 18px;
  font-family: "Baloo Bhai 2", cursive;
  margin: 15px 0;
  font-weight: 600;
}
.home-page-left a {
  background-color: rgb(199, 176, 47);
  width: 150px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 50px;
  text-decoration: none;
  margin-top: 20px;
}

.home-page-right {
  text-align: center;
}

.home-page-right img {
  width: 65%;
}

.home-page-right:hover #drone-img {
  transform: translate(50px, -200px);
}
#drone-img {
  width: 450px;
  position: relative;
  bottom: 340px;
  transition: transform 2s ease-in-out;
}

.support-shop {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}
.support-shop img {
  display: block;
  width: 70px;
}

/* ------------------------------------------------- */
/*                 Products Section                  */
/* ------------------------------------------------- */
.products-section {
  margin-bottom: 100px;
}
.section-title {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 40px;
  text-align: center;
}
.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.product {
  display: grid;
    place-items: center;
  padding: 20px;
  margin: 10px;
  /* width: 100%; */
  /* margin-bottom: 20px; */
  box-shadow: 0.1px 0.1px 60px rgb(236, 234, 234);
}
.product img {
  width: 260px;
}
.product h2 {
  color: #18191f;
  font-size: 22px;
  margin-top: 8px;
}
.product h3 {
  font-weight: 600;
}
.rating-section {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}
.ratings {
  color: #fb8200;
  font-size: 10px;
  margin-right: 10px;
}
.product p {
  font-family: "Baloo Bhai 2", cursive;
  line-height: 22px;
  text-align: center;
}
.rating-section span {
  font-size: 14px;
  color: #5e6366;
  font-weight: 600;
}

#see-more {
  display: flex;
  justify-content: flex-end;
  margin-right: 35px;
  margin-top: 30px;
}
#see-more a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: #c00707;
}

/* ------------------------------------------------- */
/*                   Policy Section                  */
/* ------------------------------------------------- */

.policy-section {
  background-color: black;
  color: white;
  /* height: 100px; */
  margin-bottom: 50px;
}

.policy-bar {
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
@media(max-width: 1034px) {
  .policy-section {
display: none;
  }
}

.policy {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.policy img {
  width: 70px;
  height: 50px;
}
.policy > img {
  margin-right: 10px;
}
.policy-info {
  display: flex;
  flex-direction: column;
}
.policy p {
  font-size: 14px;
}

.payment img {
  width: 40px;
  height: 40px;
}

/* ------------------------------------------------- */
/*                    Link Section                   */
/* ------------------------------------------------- */

.link-section {
  /* width: 90%; */
  /* margin: 0 auto; */
  font-family: "Baloo Bhai 2", cursive;
}

.link-bar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.links {
  width: 80%;
}
.links h3 {
  margin-bottom: 15px;
  font-weight: 600;
  padding: 10px;
  border-bottom: 1px solid gainsboro;
}
.links ul {
  list-style: none;
}

.find-section-title {
  font-size: 15px;
  margin-bottom: 15px;
}
.find-section-title img {
  height: 30px;
  width: 30px;
}
.find-us-info {
  line-height: 30px;
  font-size: 15px;
}
.app-link {
  display: flex;
  margin-top: 20px;
}
.app-link img {
  height: 70px;
  width: 150px;
}

.delivery-partners {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.partners img {
  height: 60px;
  width: 60px;
  margin-right: 15px;
  margin-left: 15px;
}

/* ------------------------------------------------- */
/*                    Footer Section                 */
/* ------------------------------------------------- */

.footer-section {
  height: 180px;
  background-color: #0a0826;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-section h1 {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}

.copyright-text {
  font-size: 12px;
}
.social-media {
  font-size: 25px;
  margin-top: 10px;
}
.social-media span a {
  margin-right: 20px;
  color: #fff;
}

/* ------------------------------------------------- */
/*                  Responsive Section               */
/* ------------------------------------------------- */

/* @media (max-width:480px) {
  .container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 30px;
  }


  .products{
    grid-template-columns: repeat(1, 1fr);
  }
} */












/* .container{
  max-width: 100%;
  padding: 0;
} */

.products{
  grid-template-columns: repeat(1, 1fr);
  place-items: center;
}



@media (min-width: 576px){
  nav {
    flex-direction: column;
     }

.products{
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}
}



@media (min-width: 768px){
  nav {
 flex-direction: column;
  }

.products{
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}



}

@media(max-width: 991px) {
  .home-page .home-page-right {
    display: none;
  }
}

@media (min-width: 992px){
  nav {
    flex-direction: row;
     }

     .home-page {
      grid-template-columns: repeat(2, 1fr);
  padding: 100px 0;

    }

  .home-page .home-page-right {
    display: block;
  }
.products{
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}


}





@media (min-width: 1024px) {
  .container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 30px;
  }
  .home-page {
    height: calc(100vh - 500px);
    min-height: 400px;
  }

  .home-page-left {
    margin-top: 20px;
  }
  .home-page-left h1 {
    font-size: 50px;
  }
  .home-page-left h2 {
    font-size: 30px;
  }
  .home-page-left p {
    font-size: 14px;
  }
  .home-page-left a {
    width: 120px;
    margin-top: 5px;
    font-size: 12px;
  }

  .home-page-right img {
    width: 60%;
  }
  #drone-img {
    width: 300px;
    position: relative;
    bottom: 225px;
  }
  .support-shop {
    /* margin-bottom: 80px; */
  }
  .support-shop img {
    width: 50px;
  }

  .products-section {
    padding: 40px 0;
    /* margin-bottom: 60px; */
  }
  .section-title {
    font-size: 25px;
  }
  .products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
  }
  .product {
    width: 70%;
  }
  .product img {
    width: 200px;
  }
  .product h2 {
    font-size: 18px;
  }
  .product h3 {
    font-size: 17px;
  }

  #see-more {
    margin-right: 60px;
    margin-top: 15px;
  }
  #see-more a {
    font-size: 16px;
  }

  .policy-section {
    height: 80px;
    margin-bottom: 30px;
  }

  .policy {
    margin-top: 15px;
  }
  .policy-info {
    display: flex;
    flex-direction: column;
  }
  .policy-info h3 {
    font-size: 14px;
  }
  .policy p {
    font-size: 12px;
  }

  .payment img {
    width: 20px;
    height: 20px;
  }
  .app-link {
    margin-top: 0px;
  }
  .app-link img {
    height: 70px;
    width: 100px;
  }


  .delivery-partners {
    margin-top: 100px;
    font-size: 14px;
  }
  .partners img {
    width: 50px;
  }

}
